@model SMGJ.Models.TIPI
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Tipi", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        @Html.LabelFor(model => model.Emertimi, new { @class = "control-label" })
        @Html.EditorFor(model => model.Emertimi, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>
}
