@model SMGJ.Models.RegisterViewModelUser

@{
    Layout = null;

}

<a href="@Url.Action("Index","PROFILI",new { id = Model.ID }), new id " class="dropdown-toggle" data-toggle="dropdown">
        <span class="username"> @(Model.Emri + " "+Model.Mbiemri) <i class="ti-angle-down"></i></i></span>
    </a>
    <ul class="dropdown-menu dropdown-dark">
        <li>
            <a href="@Url.Action("Index","PROFILI")">
                My Profile
            </a>
        </li>
        <li>
            <a href="pages_calendar.html">
                My Calendar
            </a>
        </li>
        <li>
            <a hef="pages_messages.html">
                My Messages (3)
            </a>
        </li>
        <li>
            <a href="login_lockscreen.html">
                Lock Screen
            </a>
        </li>
        <li>
            @*<a href="login_signin.html">
            Log Out
        </a>*@
            <a href="@Url.Action("LogOff", "Account" )" id="btnLogOut">
                Log Out
            </a>
        </li>
    </ul>