
@{
    ViewBag.Title = "Error";
    Layout = null; 
}


<!DOCTYPE html>

<html lang="en">
<head>
    <title>Error 404</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/theme/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/theme/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/theme/vendor/themify-icons/themify-icons.min.css">
    <link href="~/Content/theme/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/theme/assets/css/styles.css">
    <link rel="stylesheet" href="~/Content/theme/assets/css/plugins.css">
    <link rel="stylesheet" href="~/Content/theme/assets/css/themes/theme-1.css" id="skin_color" />
</head>
<body>
    <div class="error-full-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 page-error">
                    <div class="error-number text-azure">
                        404
                    </div>
                    <div class="error-details col-sm-6 col-sm-offset-3">
                        <h3>Oops!</h3>
                        <p>
                            Fatkeqesisht faqja qe po kerkoni nuk gjindet.
                            <br>
                            Mund te jete perkohesisht e paarritshme apo nuk ekziston me.
                            <br>

                            Kontrolloni URL-ne qe keni shtypur, pasiqe mund te kete ndonje gabim dhe pastaj provoni perseri.
                            <br>
                            <a href="@Url.Action("","")" class="btn btn-red btn-return">
                                Kthehu ne faqen kryesore
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>
